body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrap {
  max-width: 600px;
  width: 100%;
  padding: 50px 20px;
}

.title {
  margin-bottom: 15px;
  text-align: center;
  font-size: 20px;
}

.chart {
  display: block;
  border: 1px solid #ddd;
}

.chart:not(:last-child) {
  margin-bottom: 50px;
}

.circle {
  fill: transparent;
  stroke: blue;
  stroke-width: 2;
}

.circle--inner,
.line,
.axis {
  stroke: #000;
}

.line {
  stroke-width: 2;
}

.dot--red {
  fill: red;
}

.trace {
  fill: transparent;
  stroke: red;
  stroke-width: 2;
}
